<div class="pageRegistro position-relative d-flex align-items-center" id="pageRegistro" data-aos="fade-down" data-aos-duration="2000">
    <div class="registro-wrap d-flex justify-content-center" id="registro-wrap">
      <div class="registro-html">
        <h2 class="position-relative text-center text-white pb-2">Registro</h2>
        <form [formGroup]="registroForm" class="registro-form" (ngSubmit)="onRegister()">
          <div class="sign-in-htm">
            <div class="group">
              <label for="nombre" class="label">Nombre</label>
              <input id="nombre" type="text" class="input" formControlName="nombre" placeholder="nombre y apellido">
              <div *ngIf="nombre?.valid && agregaError()"></div>
              <div class="alert-dangerus" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched) && agregaError()">
                <div class="container-error-message" *ngIf="nombre?.hasError('required')">
                  <p class="pt-2 ps-3">El nombre es requerido.</p>
                </div>
                <div class="container-error-message" *ngIf="nombre?.hasError('minlength')">
                  <p class="pt-2 ps-3">El nombre debe contener 5 caracteres como mínimo.</p>
                </div>
              </div>
            </div>

            <div class="group">
              <label for="pass" class="label">Email</label>
              <input id="pass" type="email" class="input" formControlName="email" placeholder="ejemplo@correo.com">
              <div *ngIf="email?.valid && agregaError()"></div>
              <div class="alert-dangerus" *ngIf="email?.invalid && (email?.dirty || email?.touched) && agregaError()">
                <div class="container-error-message" *ngIf="email?.hasError('required')">
                  <p class="pt-2 ps-3">El email es requerido.</p>
                </div>
                <div class="container-error-message" *ngIf="email?.hasError('pattern')">
                  <p class="pt-2 ps-3">Debe ser una dirección de email válida.</p>
                </div>
              </div>
            </div>

            <div class="group">
                <label for="inputPass" class="label"> Contraseña</label>
                <input id="inputPass" type="password" class="input" formControlName="password" />
                <div *ngIf="password?.valid && agregaError()"></div>
                <div class="alert-dangerus" *ngIf="password?.invalid && (password?.dirty || password?.touched) && agregaError()">
                  <div class="container-error-message" *ngIf="password?.hasError('required')">
                    <p class="pt-2 ps-3">La contraseña es requerida.</p>
                  </div>
                  <div class="container-error-message" *ngIf="password?.hasError('minlength')">
                    <p class="pt-2 ps-3">La contraseña debe tener como mínimo una longitud de 8 caracteres.</p>
                  </div>
                  <div class="container-error-message" *ngIf="password?.hasError('passwordValidation')">
                    <p class="pt-2 ps-3">{{password?.errors?.passwordValidation.message}}</p>
                  </div>
                </div>
            </div>

            <div class="group">
                <label for="repitPass" class="label"> Repite la Contraseña</label>
                <input id="repitPass" type="password" class="input" formControlName="repitPassword"/>
                <div *ngIf="repitPassword?.valid && agregaError()"></div>
                <div class="alert-dangerus" *ngIf="repitPassword?.invalid && (repitPassword?.dirty || repitPassword?.touched) && agregaError()">
                  <div class="container-error-message" *ngIf="repitPassword?.hasError('required')">
                    <p class="pt-2 ps-3">La confirmación de la contraseña es requerida.</p>
                  </div>
                  <div class="container-error-message" *ngIf="repitPassword?.hasError('compare')">
                    <p class="pt-2 ps-3">La confirmación y la contraseña no son coincidentes.</p>
                  </div>
                </div>
            </div>
            <!-- <div class="alert-dangerus" *ngIf="isError">
              <div class="container-error-message d-flex flex-column align-items-center justify-content-center ">
                <p class="pt-2 mb-0" style="color:red; display: inline;">Ya existe un usuario registrado con el mismo Email</p>
                <ul class="mt-3 mb-0 d-flex ps-0" style="list-style: none; font-size: 20px; color:white;">
                  <li (click)="reingresa()" style="cursor: pointer;">
                    <i class="bi bi-arrow-repeat"></i>
                    <a class="ms-2">Reingresar</a>
                  </li>
                  <li (click)="salir()" class="ms-3" style="cursor: pointer;">
                    <i class="bi bi-box-arrow-right"></i>
                    <a class="ms-2">Salir</a>
                  </li>
                </ul>
              </div>
            </div> -->

            <div class="group pt-4">
              <!-- <button class="btn btn-primary w-100 p-3 rounded" type="submit" [disabled]="registroForm.invalid">Registrar</button> -->
              <span data-bs-toggle="modal" data-bs-target="#ModalPreguntas" >
                <button class="btn btn-primary w-100 p-3 rounded" type="button" [disabled]="registroForm.invalid" (click)="limpiaPreguntas()">Registrar</button>
              </span>
            </div>

            <h6 class="tienesCuenta mt-4 text-white">¿Ya tienes cuenta?
              <a routerLink="/login">Ingresa</a>
            </h6>

          </div>
        </form>
      </div>
    </div>
</div>

<div class="modal fade" id="ModalPreguntas" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content text-white">
      <div class="modal-header">
        <h4 class="modal-title text-center" id="exampleModalLabel">Preguntas de Seguridad</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        <h6 class="text-center">Para completar el proceso de Registración debes ingresar tus respuestas que necesitarás para la recuperación de la contraseña.</h6>

        <form [formGroup]="preguntasForm" class="registro-form preguntas" (ngSubmit)="onRegister()">
          <div class="sign-in-htm">
            <div class="group">
              <label for="pregunta1" class="label preguntas">{{pregunta1}}</label>
              <input id="pregunta1" type="text" class="input respuesta" formControlName="respuesta1">
              <div *ngIf="respuesta1?.valid && agregaError()"></div>
              <div class="alert-dangerus" *ngIf="respuesta1?.invalid && (respuesta1?.dirty || respuesta1?.touched) && agregaError()">
                <div class="container-error-message" *ngIf="respuesta1?.hasError('required')">
                  <p class="pt-2 ps-3">La respuesta es obligatoria.</p>
                </div>
                <div class="container-error-message" *ngIf="respuesta1?.hasError('maxlength')">
                  <p class="pt-2 ps-3">La respuesta no puede tener más de 50 caracteres como mínimo.</p>
                </div>
              </div>
            </div>
            <div class="group">
              <label for="pregunta2" class="label preguntas">{{pregunta2}}</label>
              <input id="pregunta2" type="text" class="input respuesta" formControlName="respuesta2">
              <div *ngIf="respuesta2?.valid && agregaError()"></div>
              <div class="alert-dangerus" *ngIf="respuesta2?.invalid && (respuesta2?.dirty || respuesta2?.touched) && agregaError()">
                <div class="container-error-message" *ngIf="respuesta2?.hasError('required')">
                  <p class="pt-2 ps-3">La respuesta es obligatoria.</p>
                </div>
                <div class="container-error-message" *ngIf="respuesta2?.hasError('maxlength')">
                  <p class="pt-2 ps-3">La respuesta no puede tener más de 50 caracteres como mínimo.</p>
                </div>
              </div>
            </div>
            <div class="group">
              <label for="pregunta3" class="label preguntas">{{pregunta3}}</label>
              <input id="pregunta3" type="text" class="input respuesta" formControlName="respuesta3">
              <div *ngIf="respuesta3?.valid && agregaError()"></div>
              <div class="alert-dangerus" *ngIf="respuesta3?.invalid && (respuesta3?.dirty || respuesta3?.touched) && agregaError()">
                <div class="container-error-message" *ngIf="respuesta3?.hasError('required')">
                  <p class="pt-2 ps-3">La respuesta es obligatoria.</p>
                </div>
                <div class="container-error-message" *ngIf="respuesta3?.hasError('maxlength')">
                  <p class="pt-2 ps-3">La respuesta no puede tener más de 50 caracteres como mínimo.</p>
                </div>
              </div>
            </div>

            <div class="group pt-4">
              <button type="submit" [disabled]="preguntasForm.invalid" class="btn btn-primary w-100 p-3 rounded" data-bs-dismiss="modal">Confirmar Respuestas</button>
            </div>

          </div>
        </form>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" (click)="onRegister()" [disabled]="preguntasForm.invalid" class="btn btn-primary" data-bs-dismiss="modal">Confirma Respuestas</button>
      </div> -->
    </div>
  </div>
</div>
