<div class="pageRegistro position-relative d-flex align-items-center" id="pageRegistro" data-aos="fade-down" data-aos-duration="2000">
    <div class="registro-wrap d-flex justify-content-center" id="registro-wrap">
      <div class="registro-html">
        <h2 class="position-relative text-center text-white pb-2">Registro</h2>
        <form [formGroup]="registroForm" class="registro-form" (ngSubmit)="onRegister()">
          <div class="sign-in-htm">
            <div class="group">
              <label for="nombre" class="label">Nombre</label>
              <input id="nombre" type="text" class="input" formControlName="nombre" placeholder="nombre y apellido">
              <div *ngIf="nombre?.valid && agregaError()"></div>
              <div class="alert-dangerus" *ngIf="nombre?.invalid && (nombre?.dirty || nombre?.touched) && agregaError()">
                <div class="container-error-message" *ngIf="nombre?.hasError('required')">
                  <p class="pt-2 ps-3">El nombre es requerido.</p>
                </div>
                <div class="container-error-message" *ngIf="nombre?.hasError('minlength')">
                  <p class="pt-2 ps-3">El nombre debe contener 5 caracteres como mínimo.</p>
                </div>
              </div>
            </div>

            <div class="group">
              <label for="pass" class="label">Email</label>
              <input id="pass" type="email" class="input" formControlName="email" placeholder="ejemplo@correo.com">
              <div *ngIf="email?.valid && agregaError()"></div>
              <div class="alert-dangerus" *ngIf="email?.invalid && (email?.dirty || email?.touched) && agregaError()">
                <div class="container-error-message" *ngIf="email?.hasError('required')">
                  <p class="pt-2 ps-3">El email es requerido.</p>
                </div>
                <div class="container-error-message" *ngIf="email?.hasError('pattern')">
                  <p class="pt-2 ps-3">Debe ser una dirección de email válida.</p>
                </div>
              </div>
            </div>

            <div class="group">
                <label for="inputPass" class="label"> Contraseña</label>
                <input id="inputPass" type="password" class="input" formControlName="password" />
                <div *ngIf="password?.valid && agregaError()"></div>
                <div class="alert-dangerus" *ngIf="password?.invalid && (password?.dirty || password?.touched) && agregaError()">
                  <div class="container-error-message" *ngIf="password?.hasError('required')">
                    <p class="pt-2 ps-3">La contraseña es requerida.</p>
                  </div>
                  <div class="container-error-message" *ngIf="password?.hasError('minlength')">
                    <p class="pt-2 ps-3">La contraseña debe tener como mínimo una longitud de 8 caracteres.</p>
                  </div>
                  <div class="container-error-message" *ngIf="password?.hasError('passwordValidation')">
                    <p class="pt-2 ps-3">{{password?.errors?.passwordValidation.message}}</p>
                  </div>
                </div>
            </div>

            <div class="group">
                <label for="repitPass" class="label"> Repite la Contraseña</label>
                <input id="repitPass" type="password" class="input" formControlName="repitPassword"/>
                <div *ngIf="repitPassword?.valid && agregaError()"></div>
                <div class="alert-dangerus" *ngIf="repitPassword?.invalid && (repitPassword?.dirty || repitPassword?.touched) && agregaError()">
                  <div class="container-error-message" *ngIf="repitPassword?.hasError('required')">
                    <p class="pt-2 ps-3">La confirmación de la contraseña es requerida.</p>
                  </div>
                  <div class="container-error-message" *ngIf="repitPassword?.hasError('compare')">
                    <p class="pt-2 ps-3">La confirmación y la contraseña no son coincidentes.</p>
                  </div>
                </div>
            </div>
            <!-- <div class="alert-dangerus" *ngIf="isError">
              <div class="container-error-message d-flex flex-column align-items-center justify-content-center ">
                <p class="pt-2 mb-0" style="color:red; display: inline;">Ya existe un usuario registrado con el mismo Email</p>
                <ul class="mt-3 mb-0 d-flex ps-0" style="list-style: none; font-size: 20px; color:white;">
                  <li (click)="reingresa()" style="cursor: pointer;">
                    <i class="bi bi-arrow-repeat"></i>
                    <a class="ms-2">Reingresar</a>
                  </li>
                  <li (click)="salir()" class="ms-3" style="cursor: pointer;">
                    <i class="bi bi-box-arrow-right"></i>
                    <a class="ms-2">Salir</a>
                  </li>
                </ul>
              </div>
            </div> -->

            <div class="group pt-4">
              <!-- <button class="button" type="submit" [disabled]="contactForm.invalid">Enviar</button> -->
              <button class="btn btn-primary w-100 p-3 rounded" type="submit" [disabled]="registroForm.invalid">Registrar</button>
            </div>

            <h6 class="tienesCuenta mt-4 text-white">¿Ya tienes cuenta?
              <a routerLink="/login">Ingresa</a>
            </h6>

          </div>
        </form>
      </div>
    </div>
</div>
