<div class="container position-relative sidebar">
  <div class="row">
    <div class="col-4 position-relative monederos">
      <div *ngFor="let moneda of monedas; let i = index">
        <div *ngIf="moneda.IdMoneda===monedaPrincipal" [ngClass]="moneda.Clase" (click)="monedero(i,moneda.Abreviatura.trim())">
          <img [src]="moneda.UrlLogoMoneda" alt="">
          <span>{{moneda.NombreMoneda}}</span>
          <h2>{{moneda.SimboloMoneda}} {{moneda.TotalEnPesos}}</h2>
        </div>
        <div *ngIf="moneda.IdMoneda!==monedaPrincipal" [ngClass]="moneda.Clase" (click)="monedero(i,moneda.Abreviatura.trim())">
          <img [src]="moneda.UrlLogoMoneda" alt="">
          <span>{{moneda.NombreMoneda}}</span>
          <div class="cotizacion position-relative">
            <p class="cotizacioncripto">1 {{moneda.SimboloMoneda}} = {{simboloMonedaPrincipal}} {{moneda.Cotizacion}}</p>
            <p class="valorencriptomoneda">{{moneda.Cantidad}} {{moneda.SimboloMoneda}} =</p>
            <h2 class="valorenpesos">{{simboloMonedaPrincipal}} {{moneda.TotalEnPesos}}</h2>
          </div>
        </div>
        <!-- <div class="panelcripto ethereum"  (click)="monedero('ethereum')">
          <img src="../../../assets/imagenes/logo_ethereum.png" alt="">
          <span>Ethereum</span>
          <div class="cotizacion position-relative">
            <p class="cotizacioncripto">1 ETH = $ 424363,77</p>
            <p class="valorencriptomoneda">0,001885 ETH =</p>
            <h2 class="valorenpesos">$ 800,00</h2>
          </div>
        </div>
        <div class="panelcripto usdc"  (click)="monedero('usdc')">
          <img src="../../../assets/imagenes/logo_usdc.png" alt="">
          <span>USD Coin</span>
          <div class="cotizacion position-relative">
            <p class="cotizacioncripto">1 USDC = $ 175,43</p>
            <p class="valorencriptomoneda">2,280112 USDC =</p>
            <h2 class="valorenpesos">$ 400,00</h2>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-around pt-2">
        <div class="saldo position-relative">
          <h1 class="text-center fs-2 mt-3 position-relative">Tu saldo actual es</h1>
          <h1 class="text-center"><span class="importeSaldo">{{simboloMonedaPrincipal}} {{saldoActual}}</span></h1>
        </div>

        <div class="d-flex flex-column justify-content-evenly consultas">

          <span data-bs-toggle="modal" data-bs-target="#ModalCvuAlias">
            <button type="button" class="btn btn-primary btn-rounded" style="width: 160px;" (click)="cvualias('Cvu')" tooltip="Consulta CvU" placement="top">
              <i class="bi bi-bank"></i>
              <!-- <img src="src/assets/imagenes/iconos/bank.svg" alt="Cvu" width="32" height="32"> -->
              Cvu
            </button>
          </span>
          <span data-bs-toggle="modal" data-bs-target="#ModalCvuAlias" >
            <button type="button" class="btn btn-primary btn-rounded mr-2"  style="width: 160px;" (click)="cvualias('Alias')" tooltip="Consulta Alias" placement="right">
              <i class="bi bi-person"></i>
              <!-- <img src="src/assets/imagenes/iconos/person.svg" alt="Cvu" width="32" height="32"> -->
              Alias
            </button>
          </span>
          <span data-bs-toggle="modal" data-bs-target="#ModalMovimientos" >
            <button type="button" class="btn btn-primary btn-rounded"  style="width: 160px;" (click)="cargaMovimientos()" tooltip="Consulta Movimientos" placement="right">
              <i class="bi bi-card-list"></i>
              <!-- <img src="src/assets/imagenes/iconos/card-list.svg" alt="Cvu" width="32" height="32"> -->
              Movimientos
            </button>
          </span>
        </div>
      </div>

      <div class="contenedorSlider position-relative d-flex justify-content-center">
        <!-- <div class="call-to-action text-white text-center position-absolute" data-aos="flip-right" data-aos-easing="ease-out-cubic" data-aos-duration="15000"> -->
        <div class="call-to-action text-white text-center position-absolute">
          <h3 class="fw-bold">Selecciona un monedero <br> y <br> elige que querés hacer </h3>
        </div>
        <div class="contenedorImagen pt-5">
          <div id="carousel" class="carousel slide overflow-hidden" data-bs-ride="carousel">
            <div id="carouselInner" class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000">
                <div class="imagenCarrusel slide1"></div>
                <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual61.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="imagenCarrusel  slide2"></div>
                <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/slide1.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide1"> -->
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="imagenCarrusel  slide3"></div>
                <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/slide2.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="imagenCarrusel  slide4"></div>
                <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual11.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="imagenCarrusel  slide5"></div>
                <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual41.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="imagenCarrusel  slide6"></div>
                <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual51.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
              </div>
              <div class="carousel-item" data-bs-interval="10000">
                <div class="imagenCarrusel  slide7"></div>
                <!-- <img id="imagenCarrusel" src="../../../assets/imagenes/billeteravirtual51.jpg" class="d-block w-100 img-fluid claseImagenCarrusel" alt="slide2"> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
<ngx-spinner type="ball-newton-cradle">  <p style="font-size: 20px; color: white">Cargando datos...</p></ngx-spinner>


<div class="modal fade" id="ModalCvuAlias" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mi {{consultaCvuAlias}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center fs-3" *ngIf="consultaCvuAlias=='Cvu'">
        {{currentUser.Cvu}}
      </div>
      <div class="modal-body text-center fs-3" *ngIf="consultaCvuAlias=='Alias'">
        {{currentUser.Alias}}
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ModalMovimientos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Últimos Movimientos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body movimientos">
        <table class="table text-white">
          <thead>
            <tr class="text-white">
              <th class="text-center" scope="col">Fecha</th>
              <th class="text-center" scope="col">Hora</th>
              <th class="text-center" scope="col">Transaccion</th>
              <th class="text-center" scope="col">Monto</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let movimiento of movimientos">
              <th class="text-center" scope="row">{{movimiento.Fecha}}</th>
              <td class="text-center" >{{movimiento.Hora | slice:0:5}}</td>
              <td>{{movimiento.DescripcionTransaccion}}</td>
              <td class="text-end" [ngStyle]="{'background-color':movimiento.Monto < 0 ?'red':'green'}">{{movimiento.SimboloMoneda}} {{movimiento.Monto | number: '1.2-6'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>


