<section id="billetera" class="d-flex justify-content-center align-items-start align-items-lg-center">
  <div class="row flex-lg-nowrap justify-content-center">
    <div class="col-12 col-lg-6 texto position-relative d-flex flex-column justify-content-center align-items-center">
      <h4 class="px-3 pt-3 pb-2 fs-1 text-white position-relative titulo">
        <ngtypewriter [StringList]='list' [speed]='1000'></ngtypewriter>
      </h4>
      <h4 class="px-3 pb-3 fs-4 text-white position-relative titular d-none d-sm-block">
        Es una<span class="fs-3 remarcado px-2 fw-bold">aplicación web</span>que te permite
        <span class="fs-3 remarcado px-2 fw-bold">enviar, recibir dinero y realizar operaciones con Criptomonedas</span>desde tu
        <span class="fs-3 remarcado px-2 fw-bold">computadora o móvil</span>en unos pocos y sencillos pasos.
        <span class="fs-3 remarcado px-2 fw-bold">Sin necesidad de que estés bancarizado</span>
      </h4>
    </div>
    <div class="col-12 col-lg-6 mt-3 mt-lg-5 position-relative contenedor">
      <div class="d-flex flex-column justify-content-center align-items-center position-relative aplicacionWeb">
        <p class="fs-5 text-white mb-0">Aplicación Web</p>
        <img src="../../../assets/imagenes/aplicacionweb.jpg" alt="" class="img-fluid imagenbilletera">
      </div>
      <div class="d-flex flex-column justify-content-center align-items-center position-relative enviaryrecibir">
        <p class="fs-5 text-white mb-0">Enviar y Recibir $</p>
        <img src="../../../assets/imagenes/enviaryrecibirdinero.jpg" alt="" class="img-fluid imagenbilletera">
      </div>
      <div class="d-flex flex-column-reverse flex-lg-column justify-content-center align-items-center position-relative cuentaBancaria">
        <img src="../../../assets/imagenes/cuentabancaria.jpg" alt="" class="img-fluid imagenbilletera">
        <p class="fs-5 text-white mb-0 position-absolute p-ctas text-center">Sin Cuentas Bancarias</p>
      </div>
      <div class="d-flex flex-column-reverse flex-lg-column justify-content-center align-items-center position-relative criptomonedas">
        <img src="../../../assets/imagenes/criptomonedas.jpg" alt="" class="img-fluid imagenbilletera">
        <p class="fs-5 text-white mb-0 position-absolute p-cripto text-center">Operaciones con Criptomonedas</p>
      </div>
      <div class="icono-derecha d-none d-sm-block">
        <i class="bi bi-arrow-right-circle-fill"></i>
      </div>
      <div class="icono-abajo">
        <i class="bi bi-arrow-down-circle-fill"></i>
      </div>
      <div class="icono-abajo1 d-sm-none">
        <i class="bi bi-arrow-down-circle-fill"></i>
      </div>
      <div class="icono-abajo2 d-sm-none">
        <i class="bi bi-arrow-down-circle-fill"></i>
      </div>
      <div class="icono-izquierda d-none d-sm-block">
        <i class="bi bi-arrow-left-circle-fill"></i>
      </div>
      <div class="icono-arriba d-none d-sm-block">
        <i class="bi bi-arrow-up-circle-fill"></i>
      </div>
    </div>
  </div>
</section>
